html
  head
    script(type= 'text/javascript', src = '/lib/jquery.js')
    link(rel='stylesheet', href='jjsonviewer.css')
    script(src='jjsonviewer.js')
    p Download original output json
    a(href= "#{link}") #{link}
  body
    p
    p
    div(style='border: 2px solid black')
      #jjson.jjson
      script(type='text/javascript').
        $(document).ready(function() {
          var json = $.getJSON("#{path}", function(data){
              console.log(data);
              $("#jjson").jJsonViewer(data);    
            });
          });
